#webApp{

  #main-menu{
    padding: 0;
    color: #337ab7;
    font-size: 1.2em;
    border-bottom: 1px groove #d9edf7;
    margin-bottom: 50px;
    font-weight: bold;

      li{
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;

          &:hover{
            background-color: rgba(51,122,183,.1)
          }

          &.active{
            background-color: rgba(51,122,183,.2)!important;
          }
      }
  }

  #river{
    blockquote {
      overflow: hidden;
      margin-bottom: 30px;
    }

  }

  .msg{
    padding: 10px 15px;
    background-color: #fafafa;
    margin: 10px 0 10px;
  }

  textarea{
    margin-bottom: 10px;
  }

}