<section id="new-msg">
    <h2>Stream</h2>
    <form name="addPost" ng-submit = "newMsgCtrl.submit(riverCtrl.list)" novalidate>
        <div class="form-group">
            <textarea name="msg" id="msg" placeholder="New Message.." class="form-control" rows="3" ng-model = "newMsgCtrl.newPost.text"></textarea>
            <button class="btn btn-danger pull-right" type="submit"><i class="fa fa-paper-plane"></i> Send</button>
            <div class="clearfix">&nbsp;</div>
        </div>
        <div class="form-group pull-right">
            <label for="order-by">order by</label>
            <select name="order-by" id="order-by" ng-model="riverCtrl.order">
                <option value="+created_at" selected>Date</option>
                <option value="+rating">Rating</option>
            </select>
        </div>
    </form>
</section>